.responsive-class{
    width: 100%;
}
.films-section{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(400px, auto);
}
.film-name{
    width: 100%;
    text-align: center;
}

.poster-container > img{
    border-radius: 15px;
    width: 80%;
    height: 350px;
    object-fit: cover;
    box-sizing: border-box;
    outline: 2px solid #000000;
}

.film-name > p{
    font-family: 'Belanosima', sans-serif;
}

@media screen and (max-width: 1200px){
    .films-section{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 1024px){
    .films-section{
        grid-template-columns: repeat(2, 1fr);
    }
    .poster-container > img{
        height: 400px;
    }
}

@media screen and (max-width: 540px){
    .films-section{
        grid-template-columns: repeat(1, 1fr);
    }
}