.poster-class{
    width: 150px;
    margin: auto;
    padding: 1px;
}
.films-section{
    width: 100%;
    height: 2000px;
    /*background-color: #e22b2b;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-auto-columns: minmax(200px, auto);*/
    grid-auto-rows: minmax(60px, auto);
}
.film-name{
    width: 170px;
    height: 250px;
    background-color: #709e9e;
    padding: 10px;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
}